* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.main {
    overflow: hidden;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.09);
}

/* ------------- Navbar ------------- */
.navbar {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}

.navbar__logo-link {
    color: transparent;
    text-decoration: none;
}

.navbar__logo-img {
    height: 50px;
}

.navbar__heading{
    display: flex;
    align-items: center;
}

.navbar__heading img{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
    
}

.navbar__heading-link {
    margin-left: 8px;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--main-color);
}

.navbar__heading-icon {
    font-size: 2.8rem;
    color: var(--main-color);
}

.navbar__mobile-bars {
    display: none;
    padding: 16px;
    margin-left: auto;
}

/* Mobile menu */
.mobile__menu {
    display: none;
    padding: 16px;
    background-color: var(--background-color);
}

.mobile__heading {
    padding: 8px;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 5px;
}

.mobile__heading-icon {
    width: 22px;
    font-size: 1.7rem;
    color: var(--main-color);
    text-align: center;
    margin-right: 8px;
}

.mobile__heading-link {
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--main-color);
}

.navbar__mobile-bars {
    display: none;
    padding: 16px;
    margin-left: auto;
}

.navbar__bars-checkbox:checked ~ .mobile__menu {
    display: block;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

/* ------------- Responsive ------------- */

/* ------------- Mobile ------------- */
@media (max-width: 739px) {
    .navbar__heading {
        display: none;
    }
    
    .navbar__mobile-bars {
        display: block;
    }
}

/* ------------- Navbar ------------- */
.top{
    width: 100%;
    height: 30px;
    background-color: #000;
}


/* ------------- Tài khoản ------------- */
.container {
    margin-top: var(--header-height);
    background-color: var(--background-color);
}

.content {
    padding-top: 36px;
}

.account__header {
    color: #fff;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}

.account__header-avatar {
    position: relative;
    margin: 32px;
}

.account__header-avatar-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.account__header-verified {
    background-color: var(--gradient-color-2);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 1.4rem;
    position: absolute;
    right: -24px;
    bottom: 16px;
}

.account__header-info {
    margin: 32px;
}

.account__header-name {
    font-size: 5rem;
}

.account__header-address {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 16px;
}

.account__container {
    margin-top: 24px;
}

.account__personal {
    background-color: #fff;
    padding: 16px 32px;
    border-radius: 5px;
}

.account__personal-info {
    font-size: 2rem;
}

.account__personal-heading {
    padding: 16px 0;
}

.account__personal-body {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.account__personal-text {
    width: 170px;
}

.account__personal-input {
    flex: 1;
    height: 40px;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 8px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    outline: none;
}

.account__personal-input:focus {
    border-color: var(--main-color);
}

.account__personal-change-password {
    float: right;
    font-size: 1.6rem;
    color: var(--main-color);
}

.account__personal-gender {
    display: flex;
    margin-left: 8px;
}

.account__gender-option {
    margin-right: 32px;
}

.account__personal-text h4 {
    font-size: 1.8rem;
}

.account__personal-text p {
    font-size: 1.6rem;
    margin-top: 8px;
}

.account__personal-btn {
    margin-left: auto;
    width: 170px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid var(--border-color);
}

.account__personal-btn:hover {
    background-color: #f5f5f5;
}

.account__history {
    background-color: #fff;
    padding: 16px 32px;
    border-radius: 5px;
}


.footer{
    margin-top: 150px;
    background-color: #12151b;
    padding: 50px 0;
    color: var(--text-color-main);
    font-size: 1rem;
    border-top: 1px solid #686766;
}

.footer a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color-main);
}

.footer_logo div{
    font-size: 1.3rem;
    margin: 5px 0;
    color: var(--text-color-main);
}

.footer_logo div a{
    text-decoration: none;
    color: var(--text-color-main);
}
.footer_logo-logo img{
    width: 30%;
}

.footer div h1{
    font-weight: 700;
    margin: 10px 0;
}

.footer div ul li{
    list-style: none;
    
    margin: 5px 0;
   
}

.footer div ul a li:hover{
    padding-left: 15px;
    color: #5643ff;
    transition: all 0.3s ease-in;
}

/* ------------- Responsive ------------- */

/* ------------- Mobile ------------- */
@media (max-width: 739px) {
    .navbar__heading {
        display: none;
    }
    
    .navbar__mobile-bars {
        display: block;
    }
    
    .account__header-avatar-img {
        width: 100px;
        height: 100px;
    }

    .account__header-name {
        font-size: 1.8rem;
    }

    .account__header-address {
        font-size: 1.4rem;
    }

    .account__header-verified {
        font-size: 1.2rem;
        padding: 4px 8px;
    }

    .account__personal-info {
        font-size: 1.6rem;
    }

    .account__personal-body {
        display: block;
        margin: 0;
    }

    .account__personal-text {
        margin: 0 4px;
    }

    .account__personal-input,
    .account__personal-gender {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .account__personal-btn {
        width: 100%;
    }
}

/* ------------- Table ------------- */
@media (min-width: 740px) and (max-width: 1023px) {
    .navbar__heading {
        display: none;
    }
    
    .navbar__mobile-bars {
        display: block;
    }    
}