* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/* ------------- Navbar ------------- */
.navbar {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo-link {
    color: transparent;
    text-decoration: none;
}

.navbar__logo-img {
    height: 50px;
}

.navbar__heading-link {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--main-color);
}

.navbar__heading-icon {
    font-size: 2.8rem;
    color: var(--main-color);
}


/* ---------------tabbar_title3--------- */

.navbar__heading{
    position: relative;
}

.tabbar_title3 > div{
    border-right: 1px solid #00000033;
}

.tabbar_title4 > div{
    border-right: 1px solid #00000033;
}

.tabbar_title3-hover{
    text-align: left;
    position: absolute;
    top: 230%;
    width: 400px;
    height: auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: white;
    left: -200px;
    border-radius: 8px;
    padding: 20px 10px;
    display: none;
    z-index: 10;
}

.tabbar_title3-hover::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 100px;

    top:-40px;
    left: 100px;
}

.tabbar_title3-hover--avatar img{
    width: 100%;
}


.navbar__heading:hover .tabbar_title3-hover{
    display: block;
}
.tabbar_title3-hover-container{
    margin: 0px 10px;
}

.infor_user{
    padding: 10px 0;
    border-bottom: 1px solid #d6d6d6;
    
}

.tabbar_title3-hover--inforiname{
    color: #000000;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 20px;
}

.tabbar_title3-hover--infor-ma{
    color: #6f7882;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.tabbar_title3-hover--infor-email{
    color: #6f7882;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.tabbar_title3-hover--button{
    margin: 10px 0;
    font-size: 1.5rem;
}

.tabbar_title3-hover--button div{
    margin: 5px 0;
   
}

.tabbar_title3-hover--button a{
    text-decoration: none;
}

.tabbar_title3-hover--button div span{
    display: none;
    /* transition: all 1s ease; */
}
.tabbar_title3-hover--button div:hover span{
    display: block;
   
}
.tabbar_title3-hover--button div:hover{
    color: var(--main-color);
}

.tabbar_title3-hover--button-settinginfor{
    display: flex;
    align-items: center;
   
   color: var(--text-color);
   padding: 10px 5px;
   background-color: #ebebeb;
   border-radius: 8px;
}

.tabbar_title3-hover--button-settinginfor i{
    color: var(--main-color);
}


/* ------------- Navbar ------------- */
.top{
    width: 100%;
    height: 30px;
    background-color: #000;
}
/* ------------- Tài khoản ------------- */
.container {
    margin-top: var(--header-height);
    background-color: var(--background-color);
}

.content {
    padding-top: 36px;
}

.account__header {
    color: #fff;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}

.account__header-avatar {
    position: relative;
    margin: 32px;
}

.account__header-avatar-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.account__header-verified {
    background-color: var(--gradient-color-2);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 1.4rem;
    position: absolute;
    right: -24px;
    bottom: 16px;
}

.account__header-info {
    margin: 32px;
}

.account__header-name {
    font-size: 5rem;
}

.account__header-address {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 16px;
}

.account__container {
    margin-top: 24px;
}

.account__personal {
    background-color: #fff;
    padding: 16px 32px;
    border-radius: 5px;
}

.account__personal-info {
    font-size: 2rem;
}

.account__personal-heading {
    padding: 16px 0;
}

.account__personal-body {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.account__personal-text {
    width: 170px;
}

.account__personal-input {
    flex: 1;
    height: 40px;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 8px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    outline: none;
}

.account__personal-input:focus {
    border-color: var(--main-color);
}

.account__personal-change-password {
    float: right;
    font-size: 1.6rem;
    color: var(--main-color);
}

.account__personal-gender {
    display: flex;
}

.account__gender-option {
    margin-right: 32px;
}

.account__personal-text h4 {
    font-size: 1.8rem;
}

.account__personal-text p {
    font-size: 1.6rem;
    margin-top: 8px;
}

.account__personal-btn {
    margin-left: auto;
    width: 170px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid var(--border-color);
}

.account__personal-btn:hover {
    background-color: #f5f5f5;
}

.account__history {
    background-color: #fff;
    padding: 16px 32px;
    border-radius: 5px;
}

/* ----------jobbest------------- */


.jobbest-header--top{
    color: #00b14f;
    display: flex;
    font-weight: 600;
    gap: 10px;
    line-height: 28px;
    font-size: 2.0rem;
}
    
.jobbest-header--bottom{
    display: flex;
    align-items: center;
}

.jobbest-header--bottom_filter input{
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
}

.jobbest-header--bottom-button{
    background-color: #dcdcdc;
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 7px 10px;
    margin: 5px 10px;
    border-radius: 15px;
}

.jobbest{
    background-color: #f5f5f5;
    padding: 20px 0;
}

.jobbest-mid a{
    text-decoration: none;
   
    
}

.jobbest-mid div > a > div{
    background-color: #fcfcfc;
    margin: 7px 0;
   padding: 10px 15px;
   border-radius: 20px;
   border: 1px solid  #e2e2e2; 
   background: linear-gradient(to right, #0097B2, #7ED957);
}

.jobbest-mid div > a:hover >div {
    border: 1px solid #cecece;
    background-color: white;
}

.jobbest-mid-top--left img{
    width: 100%;
}

.jobbest-mid-top--right{
    color: #212f3f;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

.jobbest-mid-top--right p{
    color: #3b3b3b;
    font-size: 1.3rem;
   
    font-weight: 500;
    line-height: 16px;
}

.jobbest-mid-bottom{
    display: flex;
}
.jobbest-mid-top--right2{
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    font-size: 1.4rem;
}



.jobbest-mid-bottom-button{
    background: var(--main-color);
    border-radius: 4px;
    color: #ffffff;
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 4px 8px;
    margin: 5px 5px;
}
.jobbest-bottom{
    margin: 10px 0;
    font-size: 1.4rem;
    text-align: center;
}

.jobbest-bottom span{
    margin: 0 5px;
}

.jobbest-bottom i{
    padding: 8px 10px;
    color: #009643;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #00b14f;
}

/* ----------------footer-------------- */



.footer{
    margin-top: 150px;
    background-color: #12151b;
    padding: 50px 0;
    color: var(--text-color-main);
    font-size: 1rem;
    border-top: 1px solid #686766;
}

.footer a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color-main);
}

.footer_logo div{
    font-size: 1.3rem;
    margin: 5px 0;
    color: var(--text-color-main);
}

.footer_logo div a{
    text-decoration: none;
    color: var(--text-color-main);
}
.footer_logo-logo img{
    width: 30%;
}

.footer div h1{
    font-weight: 700;
    margin: 10px 0;
}

.footer div ul li{
    list-style: none;
    
    margin: 5px 0;
   
}

.footer div ul a li:hover{
    padding-left: 15px;
    color: #5643ff;
    transition: all 0.3s ease-in;
}

/* ------------- Responsive ------------- */

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 739px) {
    .account__header-avatar-img {
        width: 100px;
        height: 100px;
    }

    .account__header-name {
        font-size: 1.8rem;
    }

    .account__header-address {
        font-size: 1.4rem;
    }

    .account__header-verified {
        font-size: 1.2rem;
        padding: 4px 8px;
    }

    .account__personal-info {
        font-size: 1.6rem;
    }

    .account__personal-body {
        display: block;
        margin: 0;
    }

    .account__personal-text {
        margin: 0 4px;
    }

    .account__personal-input,
    .account__personal-gender {
        width: 100%;
        margin: 8px 0 16px;
    }

    .account__personal-btn {
        width: 100%;
    }
}