* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.main {
    overflow: hidden;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.09);
}

/* ------------- Navbar ------------- */
.navbar {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}

.navbar__logo-link {
    color: transparent;
    text-decoration: none;
}

.navbar__logo-img {
    height: 50px;
}

.navbar__heading{
    display: flex;
    align-items: center;
}

.navbar__heading img{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
    
}

.navbar__heading-link {
    margin-left: 8px;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--main-color);
}

.navbar__heading-icon {
    font-size: 2.8rem;
    color: var(--main-color);
}

.navbar__mobile-bars {
    display: none;
    padding: 16px;
    margin-left: auto;
}

/* Mobile menu */
.mobile__menu {
    display: none;
    padding: 16px;
    background-color: var(--background-color);
}

.mobile__heading {
    padding: 8px;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 5px;
}

.mobile__heading-icon {
    width: 22px;
    font-size: 1.7rem;
    color: var(--main-color);
    text-align: center;
    margin-right: 8px;
}

.mobile__heading-link {
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--main-color);
}

.navbar__mobile-bars {
    display: none;
    padding: 16px;
    margin-left: auto;
}

.navbar__bars-checkbox:checked ~ .mobile__menu {
    display: block;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

/* ------------- Responsive ------------- */

/* ------------- Mobile ------------- */
@media (max-width: 739px) {
    .navbar__heading {
        display: none;
    }
    
    .navbar__mobile-bars {
        display: block;
    }
}

/* ------------- Navbar ------------- */
.top{
    width: 100%;
    height: 30px;
    background-color: #000;
}



/* ------------video------------ */

.videomain{
    padding-top: var(--header-height);
}

.videomain_video{
    width: 100%;
    /* height: 200px; */
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.buttom_voice{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.videomain_video video{
   
    width: 100%;
    height: 550px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.videomain_text{
    margin-left: 100px;
    color: white;
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
}

.videomain_text--header{
    font-size: 4.4rem;
    line-height: inherit;
    font-weight: 700;
}
.videomain_text--items{
    font-size: 1.9rem;
    padding: 20px 40px;
}

.videomain_text--items li{
    margin: 5px 0;
}


.videomain_text--button button:nth-child(1){
    background: #e60278;
    border-color: #e60278;
    color: #f7f8f9;
    font-size: 15px;
    line-height: 1.4;
    border: 1px solid #e60278;
    border-radius: 3px;
    display: inline-block;
    font-weight: 700;
    padding: 16px 13px;
    text-align: center;
    cursor: pointer;

}

.videomain_text--button button:nth-child(2){
    background: linear-gradient(to bottom,transparent 0%,rgba(255,255,255,.2) 100%);
    border-color: #fff;
    color: #f7f8f9;
    font-size: 15px;
    line-height: 1.4;
    border: 1px solid #dedede;
    border-radius: 3px;
    display: inline-block;
    font-weight: 700;
    padding: 16px 13px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0;
}
/* ---------------Main------------------- */


.main{
    padding-top: 120px;
}

.main_img{
    width: 100%;
    /* height: 200px; */
    position: relative;
    width: 100%;
    /* height: 450px; */
    overflow: hidden;
}

.buttom_voice{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main_img video{
   
    width: 100%;
    height: 450px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.main_left-img img{
    width: 100%;
}

.main_bottom{
    margin-top: 20px;
}

.main_bottom img{
    width: 100%;
    
}

.main_bottom div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main_bottom img:hover {
    width: 95%;
    transition: all 0.15s ease-in-out;
}

.main_bottom-container{
    align-items: center;
    justify-content: center;
}

/* ----------------complete------------ */

.complete{
    padding-top: 50px;
    color: var(--complete-color);
}

.complete_header{
    color: var(--complete-color);
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.33;
}

.complete_items{
    margin: 20px 0;
}

.complete_items--content h1{
    font-size: 2.2rem;
}

.complete_items--content p{
    font-size: 1.7rem;
}

/* .banner_img-img a:nth-child(2) img{
    transform: translateX(100%);
} */

/* .banner_img:nth-child(2) img{
    transform: translateY(100%);
} */

/* ------------- Filter ------------- */
.container {
    margin-top: var(--header-height);
    background-color: var(--background-color);
}

.content {
    padding-top: 36px;
}

.filter {
    background-color: #fff;
    border-radius: 10px;
}

.filter__heading {
    font-size: 1.8rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 6px;
    text-align: center;
}

.filter__heading-icon {
    font-size: 1.4rem;
    margin-right: 8px;
}

.filter__list {
    padding-bottom: 12px;
    margin: 0 10px;
}

.filter__item-warp {
    margin: 16px;
}

.filter__item {
    color: #333;
    font-size: 1.6rem;
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    user-select: none;
}

.filter__item:hover {
    color: var(--main-color);
}

.filter__item-icon {
    background-color: #f5f5f5;
    font-size: 1.6rem;
    color: #333;
    padding: 9px;
    position: absolute;
    top: 0;
    right: 0;
}

.filter__menu {
    padding: 16px 16px 0;
}

.filter__menu-item {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.filter__price-input {
    width: 80px;
    height: 30px;
    margin-left: 8px;
}

.filter__menu-item input {
    margin-right: 8px;
}

.filter__menu-name {
    font-size: 1.4rem;
    color: #333;
}

.filter__menu-item .star-rating {
    font-size: 1.6rem;
}

.filter__menu-btn {
    width: 75%;
    height: 30px;
    margin-top: 16px;
    margin-left: 8px;
    border-radius: 0;
}

/* ------------- Freelancer list ------------- */
.freelancer-item {
    position: relative;
    margin-bottom: 20px;
}

.freelancer-item-warp {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    /* background-color: #fff; */
    background-image: linear-gradient(90deg, var(--gradient-color-1), var(--gradient-color-2));
    border-radius: 10px;
}

.freelancer-item__personal-info {
    display: flex;
    align-items: center;
    padding: 16px 20px;
}

.freelancer-item__avatar {
    width: 30%;
    position: relative;
    margin-right: 8px;
}

.freelancer-item__avatar-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.freelancer-item__avatar-text {
    padding: 4px 6px;
    background-color: #586B50;
    color: #fff;
    font-size: 0.7rem;
    border-radius: 10px;
    position: absolute;
    right: -8px;
    bottom: 10px;
}

.freelancer-item__info {
    margin: 8px 0 8px 16px;
}

.freelancer-item__title {
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.freelancer-item__text {
    font-size: 1.2rem;
    font-style: italic;
    color: #fff;
}

.freelancer-item__rating {
    font-size: 1.2rem;
    color: var(--text-color);
}

.freelancer-item__contact {
    padding: 16px 20px 0;
    color: #fff;
    position: relative;
}

.freelancer-item__contact::before {
    --separate-width: 60%;
    position: absolute;
    content: "";
    width: var(--separate-width);
    height: 1px;
    background-color: #fff;
    top: 0;
    left: calc((100% - var(--separate-width)) /2 );
}

.freelancer-item__contact-info {
    margin-bottom: 8px;
    margin-left: 16px;
}

.freelancer-item__contact-icon {
    font-size: 1.2rem;
    margin-right: 8px;
}

.freelancer-item__contact-text {
    font-size: 1.4rem;
}


.freelancer-item__artwork-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 0;
}

.freelancer-item__artwork-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 1px;
}

.freelancer-item__view-details {
    display: none;
    position: absolute;
    height: 40px;
    left: 0;
    right: 0;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.freelancer-item__view-details-link {
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
    margin: auto;
}

.freelancer-item:hover {
    cursor: pointer;
    /* border: 1px solid var(--main-color); */
    border-radius: 5px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.09);
    transform: translateY(-1px);
}

.freelancer-item:hover .freelancer-item__view-details {
    display: flex;
}


/* ------- Thanh hiển thị số trang ------- */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 80px;
}

.pagination-item {
    list-style: none;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--main-color);
    color: #fff;
}

.pagination-item--active .pagination-item__link:hover {
    opacity: 0.8;
}

.pagination-item__link {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    border-radius: 2px;
    margin: 0 15px;
}

/* ------------- Mobile ------------- */
@media (max-width: 739px) {
    .pagination-item__link {
        height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
        margin: 0;
    }
}

/* ------------- Table ------------- */
@media (min-width: 740px) and (max-width: 1023px) {
    .pagination-item__link {
        height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
        margin: 4px;
    }
}

/* ------bannermid-------- */
.bannermid{
    margin: 10px 0;
}

.bannermid_items img{
    width: 100%;
    height: auto;
}

/* ----------forthe------------- */

    
.forthe{
    margin: 100px 0;
    color: var(--forthe-color);
}


.forthe_items-top{
    font-size: 2.1rem;
    font-weight: 700;
    margin: 6px 0;
}

.forthe_items-bottom-img img{
    width: 100%;
}

.forthe_items-bottom{
    width: 100%;
    /* height: 200px; */
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.forthe_items-bottom video{
   
    width: 100%;
    height: 450px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

/* ----------------footer-------------- */



.footer{
    margin-top: 150px;
    background-color: #12151b;
    padding: 50px 0;
    color: var(--text-color-main);
    font-size: 1rem;
    border-top: 1px solid #686766;
}

.footer a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color-main);
}

.footer_logo div{
    font-size: 1.3rem;
    margin: 5px 0;
    color: var(--text-color-main);
}

.footer_logo div a{
    text-decoration: none;
    color: var(--text-color-main);
}
.footer_logo-logo img{
    width: 30%;
}

.footer div h1{
    font-weight: 700;
    margin: 10px 0;
}

.footer div ul li{
    list-style: none;
    
    margin: 5px 0;
   
}

.footer div ul a li:hover{
    padding-left: 15px;
    color: #5643ff;
    transition: all 0.3s ease-in;
}

/* ------- Form đăng nhập, đăng ký -------*/

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: none;
}

.modal.open {
    display: flex;
}

.modal__container {
    margin: auto;
}

.account_form {
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
}

.account_form__container {
    padding: 16px 32px;
}

.account_form__heading {
    color: var(--text-color);
    font-size: 2.8rem;
    text-align: center;
    font-weight: 400;
}

.account_form__form {
    margin: 16px;
}

.account_form__input {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding: 0 12px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    outline: none;
}

.show-hide-password {
    position: absolute;
    padding: 12px;
    font-size: 1.4rem;
    top: calc((100% - 16px) / 2);
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.hidden {
    display: none;
}

.account_form__input:focus {
    border-color: var(--main-color);
}

.account_form__aside {
    margin: 0 16px;
}

.account_form__policy-text {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
}

.account_form__policy-link {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
}

.account_form__btn {
    width: calc(100% - 32px);
    margin: 20px 16px;
}

.account_form__socials {
    padding: 0 32px;
}

.account_form__separate {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 0;
}

.account_form__separate-text {
    font-size: 1.4rem;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.25);
    padding: 0 10px;
}

.account_form__socials-list {
    margin: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.account_form__socials--facebook {
    color: #3a5a9b;
}

.account_form__socials--google {
    color: #000;
}

.account_form__socials--facebook,
.account_form__socials--google {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.account_form__socials--facebook:hover,
.account_form__socials--google:hover {
    background-color: #f5f5f5;
}

.account_form__socials-icon {
    font-size: 2.2rem;
    width: 2.2rem;
    height: 2.2rem;
}

.account_form__socials-title {
    margin: 0 16px;
}

.account_form__footer {
    /* padding: 80px 32px 16px; */
    padding: 16px 32px;
    text-align: center;
}

.account_form__footer-btn {
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: 600;
}

.account_form__text {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.25);
}

.account_form__link {
    text-decoration: none;
    color: var(--main-color)
}