* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* ------------- Navbar ------------- */
.top{
    width: 100%;
    height: 30px;
    background-color: #000;
}
.navbar {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo-link {
    color: transparent;
    text-decoration: none;
}

.navbar__logo-link img{
   
}

.navbar__logo-img {
    height: 50px
}

.navbar__heading-link {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--main-color);
}

.navbar__heading-icon {
    font-size: 2.8rem;
    color: var(--main-color);
}



/* ------------video------------ */

.videomain{
    padding-top: 120px;
}

.videomain_video{
    width: 100%;
    /* height: 200px; */
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.buttom_voice{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.videomain_video video{
   
    width: 100%;
    height: 550px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.videomain_text{
    margin-left: 100px;
    color: white;
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
}

.videomain_text--header{
    font-size: 4.4rem;
    line-height: inherit;
    font-weight: 700;
}
.videomain_text--items{
    font-size: 1.9rem;
    padding: 20px 40px;
}

.videomain_text--items li{
    margin: 5px 0;
}


.videomain_text--button button:nth-child(1){
    background: #e60278;
    border-color: #e60278;
    color: #f7f8f9;
    font-size: 15px;
    line-height: 1.4;
    border: 1px solid #e60278;
    border-radius: 3px;
    display: inline-block;
    font-weight: 700;
    padding: 16px 13px;
    text-align: center;
    cursor: pointer;

}

.videomain_text--button button:nth-child(2){
    background: linear-gradient(to bottom,transparent 0%,rgba(255,255,255,.2) 100%);
    border-color: #fff;
    color: #f7f8f9;
    font-size: 15px;
    line-height: 1.4;
    border: 1px solid #dedede;
    border-radius: 3px;
    display: inline-block;
    font-weight: 700;
    padding: 16px 13px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0;
}
/* ---------------Main------------------- */


.main{
    padding-top: 120px;
}

.main_img{
    width: 100%;
    /* height: 200px; */
    position: relative;
    width: 100%;
    /* height: 450px; */
    overflow: hidden;
}

.buttom_voice{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main_img video{
   
    width: 100%;
    height: 450px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.main_left-img img{
    width: 100%;
}

.main_bottom{
    margin-top: 20px;
}

.main_bottom img{
    width: 100%;
    
}

.main_bottom div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main_bottom img:hover {
    width: 95%;
    transition: all 0.15s ease-in-out;
}

.main_bottom-container{
    align-items: center;
    justify-content: center;
}
/* ----------------product------------- */
.product{
    margin-top: 100px;
}
.product_item{
    text-align: center;
}

.product_item a{
    text-decoration: none;
}

.product_item-container{
    box-shadow: 0px 0px 8px 2px #0f0f0f;
}
.product_item-img{
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.product_item-img img{
    width: 100%;
    height: 450px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.product_item-name{
    width: 100%;
    font-size: 20px;
    color: #686766;
    line-height: 70px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.product_item-price{
    width: 100%;
    color: #c3a196;
    font-weight: 600;
    padding-bottom: 20px;
}

/* ---------------banner------------- */


.banner{
    padding-top: 20px;
    margin: 20px 0;
    height: auto;
   
}

.banner_img{
    width: 100%;
}

.banner_img-container{
    position: relative;
    overflow: hidden;
}

.banner_img-img{
    width: 100%;
    height: auto;
    position: relative;
    transition: all 0.3s ease;
}

.banner_img-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner_img-img img{
    position: absolute;

}

.banner_img-img a:nth-child(2) img{
    transform: translateX(100%);
}

.banner_img-img a:nth-child(3) img{
    transform: translateX(200%);
}

.banner_img-img a:nth-child(4) img{
    transform: translateX(300%);
}

.banner_img-img a:nth-child(5) img{
    transform: translateX(400%);
}

.button_banner{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    z-index: 90;
    font-size: 1.5rem;
    justify-content: space-between;
}

.button_banner i{
    width: auto;
    height: auto;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 50%;
}
/* ----------------complete------------ */

.complete{
    padding-top: 50px;
    color: var(--complete-color);
}

.complete_header{
    color: var(--complete-color);
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.33;
}

.complete_items{
    margin: 20px 0;
}

.complete_items--content h1{
    font-size: 2.2rem;
}

.complete_items--content p{
    font-size: 1.7rem;
}

/* .banner_img-img a:nth-child(2) img{
    transform: translateX(100%);
} */

/* .banner_img:nth-child(2) img{
    transform: translateY(100%);
} */
/* ----------jobbest------------- */
.jobbest-header--top{
    color: #00b14f;
    display: flex;
    font-weight: 600;
    gap: 10px;
    line-height: 28px;
    font-size: 2.0rem;
}
    
.jobbest-header--bottom{
    display: flex;
    align-items: center;
}

.jobbest-header--bottom_filter input{
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
}

.jobbest-header--bottom-button{
    background-color: #dcdcdc;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 7px 10px;
    margin: 5px 10px;
    border-radius: 15px;
}

.jobbest{
    background-color: #f5f5f5;
    padding: 20px 0;
}

.jobbest-mid a{
    text-decoration: none;
   
    
}

.jobbest-mid div > a > div{
    background-color: #fcfcfc;
    margin: 7px 0;
   padding: 10px 15px;
   border-radius: 15px;
   border: 1px solid  #e2e2e2; ;
}

.jobbest-mid div > a:hover >div {
    border: 1px solid #a8a8a8;
    background-color: white;
}

.jobbest-mid-top--left img{
    width: 100%;
}

.jobbest-mid-top--right{
    color: #212f3f;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.jobbest-mid-top--right p{
    color: #6f7882;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.jobbest-mid-bottom{
    display: flex;
}

.jobbest-mid-bottom-item{
    background: #f4f5f5;
    border-radius: 4px;
    color: #212f3f;
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 4px 8px;
}

.jobbest-bottom{
    margin: 10px 0;
    font-size: 1.4rem;
    text-align: center;
}

.jobbest-bottom span{
    margin: 0 5px;
}

.jobbest-bottom i{
    padding: 8px 10px;
    color: #009643;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #00b14f;
}


* --------------jobintereting---------- */

.jobinteresting_left{
    background-color: white;
    border-radius: 15px;
}

.jobinteresting_right-img{
    width: 100%;
}

.jobinteresting_right-img--container{
    position: relative;
    overflow: hidden;
    
}

.jobinteresting_right-img-number{
    
    width: 100%;
    height: 600px;
    position: relative;
    transition: all 0.3s ease;
}

.jobinteresting_right-img-number img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.jobinteresting_right-img-number a:nth-child(2) img{
    transform: translateX(100%);
}

.jobinteresting_right-img-number a:nth-child(3) img{
    transform: translateX(200%);
}



.jobinteresting_right-img--button{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    z-index: 90;
    font-size: 1.5rem;
    justify-content: space-between;
}

.jobinteresting_right-img--button i{
    width: auto;
    height: auto;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 50%;
}

/* ------bannermid-------- */
.bannermid{
    margin: 10px 0;
}

.bannermid_items img{
    width: 100%;
    height: auto;
}

/* ----------forthe------------- */

    
.forthe{
    margin: 100px 0;
    color: var(--forthe-color);
}


.forthe_items-top{
    font-size: 2.1rem;
    font-weight: 700;
    margin: 6px 0;
}

.forthe_items-bottom-img img{
    width: 100%;
}

.forthe_items-bottom{
    width: 100%;
    /* height: 200px; */
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.forthe_items-bottom video{
   
    width: 100%;
    height: 450px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

/* ----------------footer-------------- */



.footer{
    margin-top: 150px;
    background-color: #12151b;
    padding: 50px 0;
    color: var(--text-color-main);
    font-size: 1rem;
    border-top: 1px solid #686766;
}

.footer a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color-main);
}

.footer_logo div{
    font-size: 1.3rem;
    margin: 5px 0;
    color: var(--text-color-main);
}

.footer_logo div a{
    text-decoration: none;
    color: var(--text-color-main);
}
.footer_logo-logo img{
    width: 30%;
}

.footer div h1{
    font-weight: 700;
    margin: 10px 0;
}

.footer div ul li{
    list-style: none;
    
    margin: 5px 0;
   
}

.footer div ul a li:hover{
    padding-left: 15px;
    color: #5643ff;
    transition: all 0.3s ease-in;
}

/* ------- Form đăng nhập, đăng ký -------*/

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: none;
}

.modal.open {
    display: flex;
}

.modal__container {
    margin: auto;
}

.account_form {
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
}

.account_form__container {
    padding: 16px 32px;
}

.account_form__heading {
    color: var(--text-color);
    font-size: 2.8rem;
    text-align: center;
    font-weight: 400;
}

.account_form__form {
    margin: 16px;
}

.account_form__input {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding: 0 12px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    outline: none;
}

.show-hide-password {
    position: absolute;
    padding: 12px;
    font-size: 1.4rem;
    top: calc((100% - 16px) / 2);
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.hidden {
    display: none;
}

.account_form__input:focus {
    border-color: var(--main-color);
}

.account_form__aside {
    margin: 0 16px;
}

.account_form__policy-text {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
}

.account_form__policy-link {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
}

.account_form__btn {
    width: calc(100% - 32px);
    margin: 20px 16px;
}

.account_form__socials {
    padding: 0 32px;
}

.account_form__separate {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 0;
}

.account_form__separate-text {
    font-size: 1.4rem;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.25);
    padding: 0 10px;
}

.account_form__socials-list {
    margin: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.account_form__socials--facebook {
    color: #3a5a9b;
}

.account_form__socials--google {
    color: #000;
}

.account_form__socials--facebook,
.account_form__socials--google {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.account_form__socials--facebook:hover,
.account_form__socials--google:hover {
    background-color: #f5f5f5;
}

.account_form__socials-icon {
    font-size: 2.2rem;
    width: 2.2rem;
    height: 2.2rem;
}

.account_form__socials-title {
    margin: 0 16px;
}

.account_form__footer {
    /* padding: 80px 32px 16px; */
    padding: 16px 32px;
    text-align: center;
}

.account_form__footer-btn {
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: 600;
}

.account_form__text {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.25);
}

.account_form__link {
    text-decoration: none;
    color: var(--main-color)
}
/* -------------photoclick-------------- */
.photoclick{
    margin-top: 140px;
}

.content1{
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 10px 15px;
}


.photoclick_right{
    background-color: #f4f4f4;
}

.photoclick_left--name{
    font-size: 1.5rem !important;
    
    font-weight: 700;
    

}

.photoclick_left-price{
    font-size: 1.5rem;
    font-style: italic;
}

.photoclick_left-button{
    margin: 0 20px;
}

.photoclick_left-button button{
    width: 60%;
   border: none;
   border-radius: 15px;
    background-color: rgb(67,102,71);
    color: white;
    text-align: center;
    padding: 5px 0 ;
}

.photoclick_left-button{
    font-size: 1.5rem;
}

.content1 div{
    font-size: 1.4rem;
    margin: 5px 0;
}

.content1 div > span{
    margin-left: 5px;
}

.photoclick_right-avatar-img img{
    width: 100%;
}


.picture{
    font-size: 1.7rem;
    font-weight: 700;
    margin-left: 10px;
}

.picture_img{
    margin: 10px 0;
}

.picture_img-items{
    display: flex;
    align-items: center;
}

.picture_img-items img{
    width: 100%;
    border-radius: 15px;
}

.picture_img div div{
    padding: 0 10px;
}

.photoclick_right div{
    margin: 3px 0;
}

.photoclick_right div span{
    margin-left: 5px;
}

.photoclick_right-avatar-name{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.photoclick_right-phone{
    font-size: 1.3rem;
}
.photoclick_right-email{
    font-size: 1.3rem;
}