* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.main {
    overflow: hidden;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.09);
}

/* ------------- Navbar ------------- */
.navbar {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}

.navbar__logo-link {
    color: transparent;
    text-decoration: none;
}

.navbar__logo-img {
    height: 50px;
}

.navbar__heading{
    display: flex;
    align-items: center;
}

.navbar__heading img{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
    
}

.navbar__heading-link {
    margin-left: 8px;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--main-color);
}

.navbar__heading-icon {
    font-size: 2.8rem;
    color: var(--main-color);
}

.navbar__mobile-bars {
    display: none;
    padding: 16px;
    margin-left: auto;
}

/* Mobile menu */
.mobile__menu {
    display: none;
    padding: 16px;
    background-color: var(--background-color);
}

.mobile__heading {
    padding: 8px;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 5px;
}

.mobile__heading-icon {
    width: 22px;
    font-size: 1.7rem;
    color: var(--main-color);
    text-align: center;
    margin-right: 8px;
}

.mobile__heading-link {
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--main-color);
}

.navbar__mobile-bars {
    display: none;
    padding: 16px;
    margin-left: auto;
}

.navbar__bars-checkbox:checked ~ .mobile__menu {
    display: block;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

/* ------------- Responsive ------------- */

/* ------------- Mobile ------------- */
@media (max-width: 739px) {
    .navbar__heading {
        display: none;
    }
    
    .navbar__mobile-bars {
        display: block;
    }
}

/* ------------- Navbar ------------- */
.top{
    width: 100%;
    height: 30px;
    background-color: #000;
}

.footer{
    margin-top: 150px;
    background-color: #12151b;
    padding: 50px 0;
    color: var(--text-color-main);
    font-size: 1rem;
    border-top: 1px solid #686766;
}

.footer a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color-main);
}

.footer_logo div{
    font-size: 1.3rem;
    margin: 5px 0;
    color: var(--text-color-main);
}

.footer_logo div a{
    text-decoration: none;
    color: var(--text-color-main);
}
.footer_logo-logo img{
    width: 30%;
}

.footer div h1{
    font-weight: 700;
    margin: 10px 0;
}

.footer div ul li{
    list-style: none;
    
    margin: 5px 0;
   
}

.footer div ul a li:hover{
    padding-left: 15px;
    color: #5643ff;
    transition: all 0.3s ease-in;
}

/* ------------- Đăng tin ------------- */
.container {
    margin-top: var(--header-height);
    background-color: var(--background-color);
}

.content {
    padding-top: 36px;
}

.post-job {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
}

.post-job__heading {
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
    padding: 32px;
}

.post-job__form {
    padding: 0 32px;
    font-size: 1.6rem;
}

.post-job__form-item {
    margin-bottom: 16px;
}

.post-job__form-text {
    line-height: 38px;
    padding: 10px 0;
}

.post-job__form-icon {
    width: 30px;
    color: var(--main-color);
}

.post-job__form-input {
    width: 100%;
    font-size: 1.6rem;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

#post-job__form-time,
#post-job__form-description {
   font-family: Arial, Helvetica, sans-serif;
   resize: none;
}

.post-job__control {
    display: flex;
    justify-content: right;
}

.post-job__control button {
    margin: 16px 32px 32px;
}

.post-job-btn {
    width: 200px;
}

.post-job__control-btn {
    color: var(--text-color);
    background-color: #fff;
    border: 1px solid var(--main-color);
}

.post-job__control-btn:hover {
    background-color: #f5f5f5;
}

/* ------------- Responsive ------------- */

/* ------------- Mobile ------------- */
@media (max-width: 739px) {
    .navbar__heading {
        display: none;
    }
    
    .navbar__mobile-bars {
        display: block;
    }
    
    .post-job {
        width: calc(100% - 16px);
        margin: 0 8px 32px;
    }

   .post-job__control {
        padding: 0 32px 32px;
   }

   .post-job__control button {
        margin: 0 8px;
   }

   .post-job__form-icon {
        width: 20px;
   }
}

/* ------------- Table ------------- */
@media (min-width: 740px) and (max-width: 1023px) {
    .navbar__heading {
        display: none;
    }
    
    .navbar__mobile-bars {
        display: block;
    }
}